@import url("components/navibars.css");
@import url("components/showcases.css");
@import url("components/stats.css");
@import url("components/buttons.css");
@import url("components/forms.css");

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color:#047aed
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body{
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6em;
}

li {
  list-style-type: none;
}

a { 
  color: #333;
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2em;
  margin: 10px 0;
}

p{
  margin: 10px 0;
}

/* guarantees images are contained within their container */
img{
  width: 100% 
}

.text-center{
  text-align: center;
}

/* Margins */
.my-1{
  margin: 1rem 0;
}

.my-2{
  margin: 1.5rem 0;
}

.my-3{
  margin: 2rem 0;
}

.my-4{
  margin: 3rem 0;
}

.my-5{
  margin: 4rem 0;
}


.mx-1{
  margin: 0 1rem;
}

.mx-2{
  margin: 0 1.5rem;
}

.mx-3{
  margin: 0 2rem;
}

.mx-4{
  margin: 0 3rem;
}

.mx-5{
  margin: 0 4rem;
}



.m-1{
  margin: 1rem;
}

.m-2{
  margin: 1.5rem;
}

.m-3{
  margin: 2rem;
}

.m-4{
  margin: 3rem;
}

.m-5{
  margin: 4rem;
}

/* Padding */
.py-1{
  margin: 1rem 0;
}

.py-2{
  margin: 1.5rem 0;
}

.py-3{
  margin: 2rem 0;
}

.py-4{
  margin: 3rem 0;
}

.py-5{
  margin: 4rem 0;
}


.px-1{
  margin: 0 1rem;
}

.px-2{
  margin: 1 0.5rem;
}

.px-3{
  margin: 0 2rem;
}

.px-4{
  margin: 0 3rem;
}

.px-5{
  margin: 0 4rem;
}


.p-1{
  margin: 1rem;
}

.p-2{
  margin: 1.5rem;
}

.p-3{
  margin: 2rem;
}

.p-4{
  margin: 3rem;
}

.p-5{
  margin: 4rem;
}
