
.header_container {
  /* border: 1px solid green; */
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  color: white;
}

.features-head img{
  max-width: 200px;
  justify-self: flex-end;
}

.features-subhead-container{
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  color: #000;
}

.features-subhead-container img{
  max-width: 300px;
  justify-self: flex-end;
}

.features-main .grid {
  grid-template-columns: reeat(3, 1fr);
  grid-template-rows: reeat(3, 1fr);
}