.statsWrapper{
  padding-top: 150px;
}

.stats_container{
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  background-color: white;
}

.grid-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: visible;
}

.stats-heading{
  max-width: 500px;
  margin: 1rem auto;
}

.stats.grid h3{
  font-size: 35px;
}

.stats.grid p{
  font-size: 20px;
  font-weight: bold;
}